HOST=0.0.0.0
PORT=8000
CM_APP_CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,https://construbot-frontend.azurewebsites.net

CM_STORAGE_ACCOUNT_NAME=devstoreaccount1
CM_STORAGE_ACCOUNT_URL=http://127.0.0.1:10002/devstoreaccount1
CM_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;TableEndpoint=http://127.0.0.1:10002/devstoreaccount1;

CM_AZURE_AD_TENANT_ID=your-tenant-id
CM_AZURE_AD_CLIENT_ID=your-client-id
CM_AZURE_AD_AUDIENCE=api://your-client-id
