HOST=0.0.0.0
PORT=8000
CM_APP_CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,https://construbot-frontend.azurewebsites.net

CM_STORAGE_ACCOUNT_NAME=construtobtstorage
CM_STORAGE_ACCOUNT_URL=https://construtobtstorage.table.core.windows.net
CM_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=construtobtstorage;AccountKey=...;EndpointSuffix=core.windows.net
